
.GameContent-container{
    background-color: var(--backgroundColor);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/* .ImagesSection{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.NFTImages{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ImageContainer:hover{
    border-color: var(--blue-highlight); 
    border-width: 5px;
    border-style: solid; 
}

.ImageContainer{
    margin: 25px;
}
.ImageContainer-image{
    border-radius: 20px;
    object-fit: cover;
}
.ImageContainer-title{
    font-weight: bold;
    color: var(--light-grey);
}
.ImageContainer-description{
    color: var(--light-grey);
}

.RuleCard{
    position: absolute;  
    align-self: center;
    right: 20px; 
}

.ScoreCard{
    position: absolute; 
    bottom: 0; 
    right: 0; 

    /* font-size:  */
}

.GameTimer{
    color: var(--light-grey); 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32pt; 
    font-weight: bold; 
    margin: 10px; 
    padding: 10px; 
    /* font-size:  */
}
