
/*TEXT Infomatic styling*/
.Infomatic {
    color: var(--light-grey);
    font-size: 16pt;
}
.InfomaticHeader {
    font-weight: bold;
}

.InfomaticTitle{
    font-size: 24pt;
}
/*Image containers: Individual and both*/

.AnnotatedNFT{
    width: 50%;
    height: 100%;

    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
}

.Images {
    display: flex;
}