
.GamePage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    align-items: stretch;
    /* Todo: make the center game bar black with grey edges beyond the center - like in ? 
    and add offset instructions to the right side */
}

.GamePage > {
    flex-grow: 0;
}