

.NavBar-container{
    background-color: var(--primary);
    height: 28px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;

    background: linear-gradient(90deg, rgb(63, 63, 63) 0%, rgba(31, 31, 31, 0.9) 50%, rgb(63, 63, 63) 100%);
    z-index: 3;
}

.Title{
    /* We should make it a fancier font */
    font-size: 28px;
    margin: 0px;
    margin-right: 20px;
    color: var(--light-grey);
}

.NavBar-container a:link,.NavBar-container span:link { 
    text-decoration: none; 
    color: var(--light-grey); 
}
.NavBar-container a:visited,.NavBar-container span:visited { 
    text-decoration: none; 
    color: var(--light-grey); 
}
.NavBar-container a:hover, .NavBar-container span:hover { 
    text-decoration: none; 
    color: var(--backgroundColor); 
}
.NavBar-container a:active,.NavBar-container span:active { 
    text-decoration: none; 
    color: var(--light-grey); 
}

.Links{
    color:var(--light-grey);
    font-size: 28px;
}

.LinkText{
    color:var(--light-grey);
    text-decoration: none;
}

.Highlight-bar {
    height: 5px;
    width: 100vw;
    position: relative;
    z-index: 2;
}

/*SMALLER NAVBAR*/
.DropDown {
    height: 28px;
    width: 40px;
    padding-bottom: 10px;
    position:relative;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.Bars div{
    height: 5px;
    background: var(--light-grey);
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.two { width: 35px; }
.three { width: 30px;}
.Bars:hover div { width: 100%;}

/*Actual dropdown*/


.DropDown-content{
    visibility: hidden;
    opacity: 0;
    display: none;

    position: absolute;
    transition: all 0.5s ease;
    padding-top: 60px;
    right: 0;
    top:0;

    border-radius: 10px;
}

.Bars:hover + .DropDown-content, .DropDown-content:hover {
    cursor:pointer;
    visibility: visible;
    opacity: 1;
    display: block;
}

.LinkContainer{
    background: linear-gradient(90deg, rgb(31, 31, 31) 0%, rgba(63, 63, 63, 0.9) 50%, rgb(31, 31, 31) 100%);
    border-radius: 10px;
    padding-bottom: 5px;
}

.LinkEdge{
    padding:3px;
    padding-right: 14px;
    padding-left: 0px;
    width: 150px;
    text-align: right;
}

.DropDownLink {
    font-size: 28px;
    color:var(--light-grey);
}