

.NavBar-container{
    background-color: var(--primary);
    height: 36px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;

    background: linear-gradient(90deg, rgb(63, 63, 63) 0%, rgba(31, 31, 31, 0.9) 50%, rgb(63, 63, 63) 100%);
    z-index: 3;
}

.Title{
    /* We should make it a fancier font */
    font-size: 28px;
    margin: 0px;
    margin-right: 20px;
    color: var(--light-grey);
}

a:link { 
    text-decoration: none; 
    color: var(--light-grey); 
}
a:visited { 
    text-decoration: none; 
    color: var(--light-grey); 
}
a:hover { 
    text-decoration: none; 
    color: var(--blue-highlight); 
}
a:active { 
    text-decoration: none; 
    color: var(--light-grey); 
}

.Links{
    color:var(--light-grey);
    font-size: 28px;
}

.LinkText{
    color:var(--light-grey);
    text-decoration: none;
}

.Highlight-bar {
    height: 5px;
    width: 100vw;
    position: relative;
    z-index: 2;
}