

.NavBar-container{
    background-color: var(--primary);
    height: 36px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;
}

.Title{
    /* We should make it a fancier font */
    font-size: 32px;
    margin: 0px;
    margin-right: 20px;
    color: var(--light-grey);
}

a:link { 
    text-decoration: none; 
    color: var(--light-grey); 
}
a:visited { 
    text-decoration: none; 
    color: var(--light-grey); 
}
a:hover { 
    text-decoration: none; 
    color: var(--blue-highlight); 
}
a:active { 
    text-decoration: none; 
    color: var(--light-grey); 
}

.Links{
    color:var(--light-grey);
    font-size: 32px;
}

.LinkText{
    color:var(--light-grey);
    text-decoration: none;
}

.Highlight-bar {
    height: var(--s);
    width: 100vw;
    position: relative;
}