
.HomePage{
    position: relative;
    background-color: var(--primary);
}

.Transparent-Background{
    background-color: rgba(0,0,0,0.9);
    color:white;
    font: bold;
    border-radius: 30px;
}

.TitleZone{
    padding: 10px 30px;

    font-size: 112px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 733px; */
    bottom:53%;
}

.StartButton{
    padding: 30px 30px;
    font-size: 64px;

    position: absolute;
    justify-content: center;
    align-items: center;  
    bottom: -205%;
    /* border: none; */
    /* border-radius: 50px; */
    border-style:solid; 
    border-color:black; 
    border-width:var(--xs); 
}

.BlinkText {
    animation: blinker-text 2s linear infinite;
}
@keyframes blinker-text {
  50% {
      opacity: 0.3;
    }
}

.BlinkBorder {
    animation: blinker-border 2s linear infinite;
}
@keyframes blinker-border {
    50% {
        border-color: #a3a3a3;
    }
}

.OtherLinks{
    padding: 10px;
    position: absolute;
    bottom: 20px;
    font-size: 32px;
}

.OtherLinks a{
    color:white;
    text-decoration: none;
}

.HomePage-window{
    display: flex;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.HomePage-background {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.HomePage-Row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.HomePage-Row img {
    flex-grow: 1;
    height: 100%;

    border:solid; 
    border-width: var(--s); 
    border-color: var(--backgroundColor); 
}
