
.Game {
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.GameInfo {
    display: flex;
    width: calc(100% - 40px);
    margin: 20px;
}

.GameStage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

/*Cards*/

.Timer{
    flex-grow: 1;
}
.HowToPlay{
    font-size: 24px;
    width: 15vw;
    height: min-content;
}
