
.NoTimeHelper{
    animation: rotate 3.5s cubic-bezier(0.6,-0.58, 0.43, 1.47) infinite forwards;
    background-color: var(--dark-grey);
    width: 100%;
    overflow: hidden;
    font-size: 48pt;
    border-radius: 10px;
    padding: 4px;
    color: red;
    transform: translateY(calc(50% - 50px));
    display: flex;
    justify-content: center;
}

.NoTimeHelper:before{
    content: "Watch";
    animation: head 3.5s linear infinite forwards;
}

@keyframes head {
    25% { content: "Watch"}
    50% { content: "Your"}
    75% { content: "Time!!"}
    100% {content: "Time!!";}
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
        max-height: 0px;
    }
    25%{
        transform: rotate(22deg);
        max-height: 120px;
    }
    
    50%{
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-22deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}