.ProfilePage {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--light-grey);
}

.ProfileOuterBox {
  margin-top: 2%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Profile-avatar {
  margin: 15% 15%; 
  max-width: 100%; 
  height: auto;
  display: block;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3%; 
}
  
.Profile-name {
  font-size: 40px;
  font-weight: 300;
  border-radius: 10px;
}
  
.Profile-subContainer {
  height: 100%;
  width: 100%; 
  flex-grow: 1;
  flex-basis: 0;
}
  
.ProfileInnerBox{
  max-height: 85%;
  height: min-content;
  width: 35%;
  border-radius: 10px;
  padding: 3% 1%;
  background: linear-gradient(90deg, rgb(63, 63, 63) 0%, rgba(38,38,38,0.9) 50%, rgb(63, 63, 63) 100%);
}

.ProfileDescription {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 30%;
}